<h1>500: Server Error</h1>
   <p>An internal server error occurred.</p>
   <p><strong>Message:</strong> <%= error %></p>
   <% if (stack) { %><pre><%= stack %></pre><% } %>
   <a href="/">Return Home</a>